@import 'tailwindcss';

@theme {
  --color-bg-base: var(--bg-base);
  --color-bg-surface: var(--bg-surface);
  --color-bg-hover: var(--bg-hover);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-text-subtle: var(--text-subtle);

  --color-brand: var(--brand);
  --color-brand-secondary: var(--brand-secondary);
  --color-border-main: var(--border-main);

  --font-heading: var(--font-h);
  --font-body: var(--font-b);
}

@layer base {
  :root {
    --bg-base: #f8f6ec;
    --bg-surface: #f1eeda;
    --bg-hover: #e4ddb4;

    --text-main: #25230e;
    --text-muted: #706a29;
    --text-subtle: #958d37;

    --brand: #f0d60f;
    --brand-secondary: #d7c928;
    --border-main: #e3e0b5;

    --font-h: 'Atkinson Hyperlegible Mono', monospace;
    --font-b: 'Atkinson Hyperlegible Mono', monospace;
  }

  .dark {
    --bg-base: #131107;
    --bg-surface: #25220e;
    --bg-hover: #4b441b;

    --text-main: #f1efda;
    --text-muted: #d6d08f;
    --text-subtle: #958d37;

    --brand: #f0d60f;
    --brand-secondary: #d7c928;
    --border-main: #4a471c;
  }

  .kill-bill {
    --bg-base: #fcd612;
    --bg-surface: #f9c31a;
    --bg-hover: #e0ac07;

    --text-main: #000000;
    --text-muted: #1a1a1a;
    --text-subtle: #404040;

    --brand: #d61a1f;
    --brand-secondary: #9e1014;
    --border-main: #000000;

    --font-h: 'Impact', sans-serif;
    --font-b: 'ITC Busorama', sans-serif;
  }
  .matrix {
    /* Fundos baseados no puro preto e cinzas digitais bem escuros */
    --bg-base: #030704; /* Preto quase absoluto com um leve toque verde */
    --bg-surface: #0a110c; /* Cinza/Verde bem escuro para painéis e cartões */
    --bg-hover: #142419; /* Destaque para quando passar o mouse */

    /* Textos focados no verde brilhante e variações opacas */
    --text-main: #00ff41; /* O famoso "Green Matrix" brilhante e super legível */
    --text-muted: #00b32d; /* Verde médio para textos secundários */
    --text-subtle: #005f18; /* Verde escuro para detalhes discretos */

    /* Cores de destaque (Brand) */
    --brand: #00ff41; /* Verde principal correndo pelo código */
    --brand-secondary: #ffffff; /* Branco (representa os flashes de luz ou o Neo) */
    --border-main: #00380f; /* Linhas finas em verde bem escuro */

    /* Fontes: Mantendo a identidade hacker/terminal */
    --font-h: 'Atkinson Hyperlegible Mono', monospace;
    --font-b: 'Atkinson Hyperlegible Mono', monospace;
  }
  body {
    @apply bg-bg-base text-text-main font-body transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
